#margin{
    /* margin: 2%; */
  }
  @media screen and (min-width: 480px) {
    body {
    }
}
#navbar{

    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 1%;

}
body{
    margin: 0 200px;
}
.image1{
    width: 1500px;
    height: 500px;
    filter: contrast(60%);
}

#container2{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
#cont3{
    margin-left: 30%;
}
#image-container2{
    display: flex;
    margin-right: 10px;
    margin-left: 30%;
}

#navbar2{
    display: flex;
    gap: 20px;
    margin: 1%;
    justify-content: space-around;
}
#footer1{
    display: flex;
    gap: 150px;
    padding: 50px;
}
.container4{
    display: flex;
    justify-content: space-around;
}
#cont4{
    margin: 0 500px;
}
button{
    background-color: orange;
    padding: 5px 20px;
    color: white;
} 
.container5{
    display: flex;
    justify-content: space-around;
    
    
}
#cont6{
    background-color: orange;
    width: 40%;
    height: 180px;
}
#cont7{
    background-color: blue;
    width: 40%;
}
.img3{
    width: 1500px;
    height: 400px;
    filter: contrast(50%);
}
#footer2{
    display: flex;
    gap: 150px;
    padding: 50px;

}
#front-footer{
    display: flex;
    border: 1px solid black;
    background-color: orange;
}
#button2{
    background-color: black;
    color: white;
}
#back-footer{
    display: flex;
    background-color: black;
    color: white;
    gap: 150px;
    padding: 50px;

}
#image-container3{
    align-items: center;
}

